@import url("https://site-assets.fontawesome.com/releases/v6.6.0/css/all.css");

:root {
    --radius: 6px;
    --border: 1px solid #cce1ff2a;
    --border-2: 2px solid #8bacdb2a;
    --background-1: #0a0a0d;
    --background-2: #13131a;
    --font-color: white;
    --padding-x: 10px;
    --padding-y: 10px;
    --full-width: calc(100% - 20px);
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: var(--background-1);
    color: var(--font-color);
    font-family: var(--font-inter);
    width: 100vw;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    gap: 10px;
    padding: 10px;
}

.basic {
    background: var(--background-2);
    border-radius: var(--radius);
    border: var(--border);
    padding: var(--padding-y) var(--padding-x);
}
.nav {
    width: fit-content;
    display: inline-flex;
    height: 30px;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: 200;
    margin-right: 10px;
}
.nav b {
    font-weight: 700;
}
.nav:first-of-type img {
    height: 120%;
}
.nav img {
    height: 100%;
}
.full {
    width: var(--full-width);
    height: 100%;
    display: flex;
}

.side-nav {
    width: 200px;
    height: calc(100% - 20px);
    margin: 10px;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    border-right: var(--border-2);
    gap: 5px;
}
.sn-item {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 4px 3px;
    padding-left: 10px;
    cursor: default;
    user-select: none;
    border-radius: var(--radius);
    transition: all 0.2s ease-in-out;
    font-size: 17px;
    width: calc(100% - 20px);
    font-weight: 300;
}
.sn-item i {
    font-size: 16px;
    width: 20px;
}
.sn-item:hover {
    background: rgba(200, 200, 255, 0.12);
}

.main-content {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}